<h2>More Details</h2>

<div *ngIf="showLoader$ | async as showLoader;else showDetails" class="loading">
  <app-loading *ngIf="showLoader"></app-loading>
</div>

<ng-template #showDetails>
  <mat-card class="example-card">
  <div class="error" *ngIf="errorMessageAction$ | async as errorMessage">
    <span>{{errorMessage}}</span>
  </div>
    <mat-card-content *ngIf="posts$ | async as posts">
     <span> Id: {{posts.id}}</span>
     <span>Description: {{posts.description}}</span>
     <span>Title: {{posts.title}}</span>
     <span>Category Name: {{posts.categoryName}}</span>
    </mat-card-content>
  </mat-card>
</ng-template>

