table {
margin: 0rem;
}

h2{
  margin: 1rem;
}


.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}
.element-header{
  background-color:rgb(241, 240, 240)
}


.element-detail-header{
  background-color:rgb(241, 240, 240)
}

.element-detail-row{
  background-color:rgb(252, 252, 252)
}

.example-element-detail {
  overflow: hidden;
  display: flex;
margin: 1rem;
}

.buttons{
  display: flex;
  gap: 1rem;
}
