<div class="container" *ngIf="vm$ | async as vm">
  <section class="details">
    <h2>PostsDetails</h2>
    <button mat-raised-button color="warn" id="addpost" (click)="onAddPost()">
      <mat-icon>add</mat-icon>Add Post
    </button>
    <div class="links" >
      <a mat-raised-button
      [class]="{active: post.id == vm.selectedPost?.id}"
      (click)="onSelectPost(post.id)"
      *ngFor="let post of vm.posts">
        {{post.title}}({{post.categoryName}})
      </a>
    </div>
  </section>
  <section class="sidedetails">
    <app-single-post></app-single-post>
  </section>
</div>
